*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{

    background:#1b1b1b;
    color:#ffffff;

    display:flex;
    flex-direction:column;

    min-height:100vh;

}

#topbar{

    height:70px;

    background:#101010;

    border-bottom:2px solid #00bcd4;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 25px;

}

#topbar h1{

    font-size:28px;

    color:#00e5ff;

}

#topbar span{

    color:#bdbdbd;

    font-size:14px;

}

#version{

    color:#888;

}

#layout{

    flex:1;

    display:flex;

}

#sidebar{

    width:230px;

    background:#151515;

    border-right:1px solid #333;

    display:flex;

    flex-direction:column;

    padding:15px;

    gap:10px;

}

.menu{

    background:#2a2a2a;

    color:white;

    border:none;

    border-radius:8px;

    padding:14px;

    cursor:pointer;

    text-align:left;

    transition:.2s;

    font-size:15px;

}

.menu:hover{

    background:#00bcd4;

    color:black;

}

.menu.active{

    background:#00bcd4;

    color:black;

    font-weight:bold;

}

#workspace{

    flex:1;

    padding:20px;

    overflow:auto;

}

.page{

    display:block;

}

.hidden{

    display:none;

}

.page h2{

    margin-bottom:20px;

    color:#00e5ff;

}

button{

    background:#00bcd4;

    color:black;

    border:none;

    border-radius:8px;

    padding:14px;

    cursor:pointer;

    font-weight:bold;

    transition:.2s;

    margin-bottom:15px;

}

button:hover{

    transform:scale(1.02);

}

button:disabled{

    background:#555;

    color:#999;

    cursor:not-allowed;

}

#arquivo{

    margin-top:15px;

    background:#262626;

    padding:12px;

    border-radius:8px;

}

#status{

    margin-top:20px;

    background:#262626;

    padding:15px;

    border-radius:8px;

    min-height:120px;

}

#recipeList{

    background:#262626;

    border-radius:8px;

    padding:15px;

    min-height:400px;

    overflow:auto;

}

#singularityList{

    background:#262626;

    border-radius:8px;

    padding:15px;

    min-height:400px;

}

footer{

    height:180px;

    background:#101010;

    border-top:2px solid #00bcd4;

    padding:15px;

}

#log{

    background:#000;

    color:#00ff88;

    height:100%;

    overflow:auto;

    border-radius:8px;

    padding:12px;

    font-family:Consolas,monospace;

    white-space:pre-wrap;

}

.card{

    background:#252525;

    border-radius:10px;

    padding:15px;

    margin-bottom:20px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#333;

    padding:10px;

}

td{

    padding:10px;

    border-bottom:1px solid #444;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#555;

    border-radius:10px;

}

@media(max-width:900px){

    #layout{

        flex-direction:column;

    }

    #sidebar{

        width:100%;

    }

}
